.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 782px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 821px;
  margin: 216px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 468px;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: 3px;
  font-weight: 300;
  text-transform: uppercase;
  font-style: normal;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 6rem;
  text-transform: uppercase;
  font-family: "Archivo Black";
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-line-1 {
  height: 11px;
  transform-origin: left center;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 577px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.625rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 5.875rem;
  }

  .u-section-1 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 423px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 482px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 216px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 5rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 502px;
    margin-top: 327px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 308px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 416px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.625rem;
  }
}.u-section-2 {
  background-image: url("images/g2.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 348px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: -71px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 419px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  margin: 135px 0 0;
}

.u-section-2 .u-line-1 {
  height: 9px;
  transform-origin: left center;
  border-style: solid;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 231px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 345px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 301px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 353px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 735px;
}

.u-section-3 .u-custom-html-1 {
  min-height: 637px;
  margin: 49px 285px 49px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-3 .u-custom-html-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 924px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2314px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1542px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 500px;
}